@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D;
    --toggle-color:#DDDDDD;
    --text-color:#707070;

    --tra-03: all 0.2s ease;
    --tra-04: all 0.3s ease;
    --tra-05: all 0.4s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tra-05);
}

::selection{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.sidebar{
    /*position: fixed;*/  /*Nota: Lo dejamos comentado, por que este nos hace que se quede el menu estatico y como nuestro menu es mas grande que el 100vh entonces no nos sirve*/
    top: 0;
    left: 0;
    min-height: 100vh; /*Con esto arreglamos el problema de que nos quedaba por la mitad el sidebar*/
    width: 280px;
    background-color: var(--sidebar-color);
    z-index: 100;
    transition: var(--tra-05);
    padding: 10px 14px;
}


.sidebar.close{
    width: 90px;
}
.sidebar li{
    margin-top: 20px;
}

.sidebar header .image,
.sidebar i{
    min-width: 60px;
    border-radius: 6px;
}


.sidebar i{
    min-width: 40px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .bx-chevron-right{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 20px;
    
}


.sidebar .text,
.sidebar i{
    color: var(--text-color);
    transition: var(--tra-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .header__logo{
    display: flex;
    flex-direction: column;
}

.header__name{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.header__logo i{
    font-size: 30px;
    display: block;
}

.header__profesion{
    font-size: 16px;
    margin-top: 2px;
    display: block;
}


.sidebar header .toggle{
    position: absolute;
    top: 20%;
    right: 5px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tra-05);
}

.sidebar.close .toggle{
    width: 100%;
    top: 20%;
}

.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: left;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tra-03);
}



.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}


.sidebar .menu-bar{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}


.menu-bar::-webkit-scrollbar{
    display: none;
}

.menu__inferior{
    list-style: none;
}


.home{
    position: absolute;
    top: 0;
    left: 280px;
    height: 100vh;
    width: calc(100% - 280px);
    background-color: var(--body-color);
    transition: var(--tra-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left:90px;
    height: 100vh;
    width: calc(100% - 90px);
}

.marco{
    height: 100vh;
    width: 100%;
    margin-bottom:-12px;
    padding: 0;
    border: 0;
}


.sidebar__link{
    width: 100%;
    color: var(--text-color);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-decoration: none;
    text-align: left;
}

.sidebar__link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

.sidebar__link--inside:hover{
    background:var(--primary-color-light);
}

/*
.links{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
*/

.links__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}



/*
.links__item a{
    text-decoration: none;
    color:var(--text-color);
}
*/

.links__item a:hover{
    color: #FFFFFF;

}

.links__item--click{
    cursor: pointer;
}

.links__button{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.arrow .link__arrow{
    transform: rotate(90deg);
}

.link__arrow{
    margin-left: auto;
    transition: var(--tra-03);
}

.links__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--text-color);
    list-style: none;
    transition: height .4s;
    height: 0;
}