@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root{
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D;
    --colo-nuevo:#370617;
    --toggle-color:#DDDDDD;
    --text-color:#707070;
    --color_for:rgb(101, 53, 156);

    --tra-03: all 0.2s ease;
    --tra-04: all 0.3s ease;
    --tra-05: all 0.4s ease;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.contendor{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*SECCION DONDE VA LA IMAGEN DE LA PAGINA*/

.img_siira{
    height: 50vh;
}
.img_siira img{
    width: 100%;
    height: 100%;
}
.imgapolo{
    height: 50vh;
    text-align: center;
    
}
.imgapolo img{
    width: 60%;
    height: 80%;
}


/*SECCION DONDE VA EL FORMULARIO*/

.formulario{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}
.formulario h1{
    font-size: 70px;
    margin-bottom: 1px;
    color:var(--color_for);
}
.formulario p{
    font-size: 22px;
    margin-top: 1px;
}
.formulario i{
    font-size: 120px;
    color: var(--color_for);
}

.formulario img{
    width: 200px;
}

.contendor_inputs input{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display:block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid var(--colo-nuevo);
    width: 340px;
}

.contendor_inputs input:hover{
    border: 3px solid var(--colo-nuevo);
    opacity: 0.5;
}

form a{
    color: black;
    margin-left: 50px;
}

.btn-submit{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    font-size: 19px;
    border: 2px solid var(--colo-nuevo);
    background-color: white;
}
.btn-submit:hover{
    background-color: var(--color_for);
    color: white;
}

/*Estilos para el inicio de sesion popup*/

.overlay{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0 ;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 4;
    visibility: hidden;
 }
 .overlay.active{
    visibility: visible;
 }
 .popup{
    z-index: 5;
    background:#f8f8f8;
    box-shadow:0px 0px 5px 8px rgba(160, 135, 207, 0.349) ;
    border-radius: 3px;
    font-family: montserrat, sans-serif;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 450px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
 }
 
 .popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
 }
 
 .popup .btn-cerrar-popup:hover{
    color: #000;
 }
 
 .popup h3{
    font-size: 30px;
    font-weight: 6px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
    opacity: 0;
 }
 
 .popup form .contenedor-imputs{
    opacity: 0;
 }
 
 .popup form .contenedor-imputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid#bbbbbb;
 }
 
 .popup form .btn-submit{
    margin-top: 40px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color:#fff;
    background:var(--primary-color);
    border-radius: 3px;
    font-family: 'Monserrat',sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
 }
 
 .popup form .btn-submit:hover{
    background: rgba(125, 13, 139, 0.3);
 }
 
 .popup.active{
    opacity: 1;
    transform: scale(1);
 }
 .popup.active h3{
    animation: entradaTitulo 2s ease .5s forwards;
 }
 .popup.active .contenedor-imputs{
    animation: entradainputs 1s ease 1s forwards;
 }
 
 @keyframes entradaTitulo{
    from{
       transform: translateY(-25px);
       opacity: 0;
    }
    to{
       transform: translateY(0);
       opacity: 1;
    }
 }
 @keyframes entradainputs {
    from{
       opacity: 0;
    }
    to{
       opacity: 1;
    }
    
 }



